.affordable {
    justify-content: space-between;
    display: flex;
    height: 90em;
}

.affordable-blob-component {
    position: relative;
    color: white;
    top: 63.28px;
}

.affordableblobimg {
    width: 702.4px;
    height: 945.6px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.affordable-img {
    width: 812.8px;
    height: 830.4px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.affordable-blob-text1 {
    color: black;
    position: absolute;
    top: 3.2em;
    left: 107px;
    right: 0;
    margin: 0 auto;
    font-size: 76.8px;
    max-width: 600px;
}

.affordable-blob-text2 {
    color: black;
    position: absolute;
    width: 100%;
    top: 6em;
    left: 4em;
    right: 0;
    margin: 0 auto;
    font-size: 57.6px;
    max-width: 400px;
}

@media screen and (max-width: 960px) {
    .affordable {
        flex-direction: column;
    }

    .affordable-img {
        width: 411px;
    }

    .affordableblobimg {
        width: 411px;
    }
}

@media screen and (max-width: 1851px) {

    .affordable {
        justify-content: space-between;
        display: flex;
        height: 70em;
    }
    
    .affordable-blob-component {
        position: relative;
        color: white;
        top: 63.28px;
    }
    
    .affordableblobimg {
        width: 439px;
        height: 591px;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    
    .affordable-img {
        width: 508px;
        height: 519px;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    
    .affordable-blob-text1 {
        color: black;
        position: absolute;
        top: 2em;
        left: 107px;
        right: 0;
        margin: 0 auto;
        font-size: 48px;
        max-width: 600px;
    }
    
    .affordable-blob-text2 {
        color: black;
        position: absolute;
        width: 250px;
        top: 4.3em;
        left: 4em;
        right: 0;
        margin: 0 auto;
        font-size: 36px;
    }

}

@media screen and (max-width: 1350px) {
    
    .affordable-blob-component {
        position: relative;
        color: white;
        top: 63.28px;
    }
    
    .affordableblobimg {
        width: 439px;
        height: 591px;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    
    .affordable-img {
        width: 508px;
        height: 519px;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    
    .affordable-blob-text1 {
        color: black;
        position: absolute;
        top: 2em;
        left: 107px;
        right: 0;
        margin: 0 auto;
        font-size: 48px;
        max-width: 600px;
    }
    
    .affordable-blob-text2 {
        color: black;
        position: absolute;
        width: 250px;
        top: 4.3em;
        left: 4em;
        right: 0;
        margin: 0 auto;
        font-size: 36px;
    }

}