.homeHeaderInfo {
    width: 100%;
    height: 650px;
}

.homeHeaderTitle {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    top: 5em;
}

.homeHeaderTitle p {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    height: 54px;
    width: 500px;
}

.homeHeaderTitle a {
    position: relative;
    top: 28px;
    right: 20px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    width: 511px;
    height: 124px;
}

.homeHeaderImage img {
    position: relative;
    top: 8em;
    width: 487px;
    height: 487px;
}


.homeBottomImages img {
    position: relative;
    top: -40px;
    width: 100%;
    height: 350px;
    z-index: -1;

}

.homeHeader {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.6fr 0.4fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "homeHeaderInfo"
      ".";
  }
  
  .homeHeaderInfo {  display: grid;
    grid-template-columns: 1.5fr 0.5fr;;
    grid-template-rows: 1.3fr 0.7fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "homeHeaderTitle homeHeaderImage"
      "homeBottomImages homeBottomImages";
    grid-area: homeHeaderInfo;
  }
  
  .homeHeaderTitle { grid-area: homeHeaderTitle; }
  
  .homeHeaderImage { grid-area: homeHeaderImage; }
  
  .homeBottomImages { grid-area: homeBottomImages; }
  