.homePageBody {
    background-color: #2F74B6;
    height: 1878px;
    width: 100%;    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "homePageSolutions"
      "homePageAffordable"
      "homePageProcess";
}
  
.homePageSolutions { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "homeSolutionsInfo homeSolutionsImage";
    grid-area: homePageSolutions;
}
  
.homeSolutionsInfo {
    flex-flow: column;
    display: flex;
    align-items: flex-end;
    position: relative;
    color: #FFFFFF;
    grid-area: homeSolutionsInfo;
}

.homeSolutionsInfo p {
    position: relative;
    right: 180px;
    width: 361px;
    height: 117px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    text-align: left;
}

.homeSolutionsInfo a {
    position: relative;
    top: 30px;
    right: 98px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    width: 442px;
    height: 318px;
}

.homeSolutionsImage {
    display: flex;
    align-items: center;
    position: relative;
}

.homeSolutionsImage img {
    position: relative;
    top: -90px;
    width: 520px;
    height: 520px;
}
  
.homeSolutionsImage { grid-area: homeSolutionsImage; }

.homePageProcess {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "homeProcessParagraph homeProcessImage"; 
    grid-area: homePageProcess; 
}
  
.homePageAffordable {
    grid-area: homePageAffordable;
    background: rgba(151, 202, 250, 0.5);
    height: 485px;
    width: 100%;
}

.homeAffordableParagraph {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.homePageAffordable img {
    top: -62px;
    position: relative;
    width: 100%;
    height: 62px;
}

.homePageAffordable p {
    display: flex;
    align-items: center;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
}

.homePageAffordable a {
    position: relative;
    top: 25px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    height: 152px;
    width: 750px;
}

.homePageAffordable button {
    position: relative;
    top: 50px;
}

.homePageAffordable button {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;  
    color: #FFFFFF;
    background: #FF9595;
    border-radius: 42px;
    width: 222px;
    height: 69px;
    border: none;
}

.homeProcessParagraph {
    flex-flow: column;
    display: flex;
    align-items: flex-end;
    position: relative;
    color: #FFFFFF;
    grid-area: homeProcessParagraph;
}

.homeProcessParagraph p {
    text-align: left;
    width: 526px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
}

.homeProcessParagraph a {
    position: relative;
    top: 40px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    width: 523px;
    height: 291px;
}

.homeProcessImage { grid-area: homeProcessImage; }

.homeProcessImage img {
    width: 339px;
    height: 384px;
    position: relative;
    left: 200px;
}
  
  
  