.header-content {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    height: 636px;
    flex-direction: row;
}


@media screen and (max-width: 960px) {
    .header-content {
        flex-direction: column;
    }
}