.solutions {
    justify-content: space-between;
    display: flex;
    height: 50em;
}

.solutions-blob-component {
    position: relative;
    color: white;
    top: 63.28px;
}

.solutionsblobimg {
    width: 316px;
    height: 398px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.desk-img {
    width: 624px;
    height: 602px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.solutions-blob-text1 {
    color: black;
    position: absolute;
    top: 2em;
    left: 107px;
    right: 0;
    margin: 0 auto;
    font-size: 48px;
    max-width: 600px;
}

.solutions-blob-text2 {
    color: black;
    position: absolute;
    width: 346px;
    top: 4.3em;
    left: 76px;
    right: 0;
    margin: 0 auto;
    font-size: 36px;
    max-width: 600px;
}

@media screen and (max-width: 960px) {
    .solutions {
        flex-direction: column;
    }

    .desk-img {
        width: 411px;
    }
}