.info {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 0.5fr 0.5fr 2.5fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "info-title info-title info-title"
      "cards cards cards"
      "inquire inquire inquire"; 
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #60A1DE 0%, rgba(96, 161, 222, 0.560241) 99.99%, rgba(96, 161, 222, 0) 100%);
}

.serviceCards {
    justify-content: center;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "strategy design development"
      "strategy design development"
      "strategy design development"; 
    grid-area: cards; 
}

.info-title { 
    grid-area: info-title;
    flex-flow: column wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; 
}
.info-title p {
    width: 989px;
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
}
.info-title a {
    width: 989px;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    
}

.servCard {
    height: 100%;
}

.serviceCards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
}

.serviceCards p {
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
}

.serviceCards a {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    width: 263px;
    height: 199px;
}

.inquire { 
    grid-area: inquire;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.inquire img {
    width: 630.92px;
    height: 670.3px;
}

.inquire button {
    right: 50%;
    margin: -250px -115px;
    position: absolute;
    background: #5240C5;
    border-radius: 42px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    width: 222px;
    height: 69px;
    border: none;
}
